* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    margin: 0 auto;
}

.container {
    height: 100vh;
}

.head-top, .head-bottom {
    background-color: white;
    width: 100%;
    height: 60px;
}

.head-top {
    display: flex;
    align-items: center;
}

.head-top h1 {
    margin-left: 20px;
    color: rgb(30, 173, 255);
}

.head-bottom {
    background-color: rgb(30, 173, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-bottom h2 {
    text-transform: uppercase;
    margin: 0px 10px;
    color: white;
    font-weight: 100;
}



main {
    padding-top: 140px;
}
.box1 {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.box1 span i {
    margin-bottom: 10px;
    font-size: 30px;
}

.box1 p {
    text-transform: uppercase;
}